h1 { 
    text-align: center;
}
.a_nazad {
    font-style:italic;
}
h2 {
    text-align:center;
}
th {
    text-align:center;
    background-color: green;
    color: white;
    font-weight: bold;
}
table, caption, thead, td, th {
    border: 1px solid black;
    text-align: center;
}
td, th {
    padding: 3px;
}
caption {
    font-size: 18px;
}
tr td:nth-child(5) {
    text-align:right;
}