h1, h2, h3 {
    text-align: center;
}
h1 {
    text-align: center;
    font-size:20px;
}
.a_nazad {
    font-style: italic;
}
.inthisfolder {
    font-size: 16.8px;
}
.folder {
    font-size: 31.2px;
}
.online {
    font-size: 40.56px;
}
img {
    display: block;
    margin: auto;
}