h1 {
    text-align: center;
    font-size: 22px;
}
.a_nazad {
    font-style: italic;
}
h2 {
    text-align: center;
}
ul li:nth-child(odd) {
    background-color: gray;
    color: #161016;
}
ul li:nth-child(even) {
    background-color: white;
}
ol li:nth-of-type(3) {
    cursor:pointer;
}
ol li:nth-of-type(5) {
    cursor:pointer;
}
ol li:nth-of-type(4) {
    background-color: #ECBAC3;
    color: #332C6F;
}