.text, .table, .image, .list{
    border: 2px solid black;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:35px;
    position: relative;
    font-family: 'Jost', sans-serif;
    
}
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}
h4 {
    display: block;
    border: 2px solid black;
    position: absolute;
    padding: 3px;
    margin: 5px;
    bottom:0;
    left:0;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
table {
    margin-bottom: 5px;
}
table, tr, td, th {
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-bottom: 5px;
}
th {
    background-color: bisque;
}
.text {
    background-color: rgb(188,155,174);
    color: rgb(23, 23, 23);
}
.text_block {
        background-color: rgb(23, 23, 23);
        color: rgb(183, 200, 227);
    }
.list {
    background-color:rgb(173, 172, 214) ;
    color:rgb(18, 0, 132);
}
.list_block {
        background-color:rgb(18, 0, 132);
        color:rgb(250, 192, 247);
    }
.table {
    background-color: rgb(75, 112, 152); 
    color: white;
}
.table_block {
        background-color: white;
        color:black;
    }
.image {
    background-color: rgb(172, 213, 214);
}
.image_block {
        background-color: rgb(46, 26, 119);
        color:rgb(173, 223, 234);
    }
.a_link {
    padding: 5px;
    text-decoration: none;
    color: rgb(130, 27, 27);
}
.link {
    border: 2px solid black;
    background-color: bisque;
    display: inline-block;
}
.flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.invisible {
    padding:20px;
    box-sizing: border-box;
}
body {
    margin: 0;
}
@media (min-width: 1200px) {
    .col-mx-1 {
     width: 8.33%;
    }
    .col-mx-2 {
     width: 16.66%;
    }
    .col-mx-3 {
     width: 25%;
    }
    .col-mx-4 {
     width: 33.33%;
    }
    .col-mx-5 {
     width: 41.66%;
    }
    .col-mx-6 {
     width: 50%;
    }
    .col-mx-7 {
     width: 58.33%;
    }
    .col-mx-8 {
     width: 66.66%;
    }
    .col-mx-9 {
     width: 75%;
    }
    .col-mx-10 {
     width: 83.33%;
    }
    .col-mx-11 {
     width: 91.66%;
    }
    .col-mx-12 {
     width: 100%;
    }
   }
@media (min-width: 993px) and (max-width: 1200px) {
    .col-lg-1 {
     width: 8.33%;
    }
    .col-lg-2 {
     width: 16.66%;
    }
    .col-lg-3 {
     width: 25%;
    }
    .col-lg-4 {
     width: 33.33%;
    }
    .col-lg-5 {
     width: 41.66%;
    }
    .col-lg-6 {
     width: 50%;
    }
    .col-lg-7 {
     width: 58.33%;
    }
    .col-lg-8 {
     width: 66.66%;
    }
    .col-lg-9 {
     width: 75%;
    }
    .col-lg-10 {
     width: 83.33%;
    }
    .col-lg-11 {
     width: 91.66%;
    }
    .col-lg-12 {
     width: 100%;
    }
   }
   @media (min-width: 769px) and (max-width: 992px){
    .col-md-1 {
     width: 8.33%;
    }
    .col-md-2 {
     width: 16.66%;
    }
    .col-md-3 {
     width: 25%;
    }
    .col-md-4 {
     width: 33.33%;
    }
    .col-md-5 {
     width: 41.66%;
    }
    .col-md-6 {
     width: 50%;
    }
    .col-md-7 {
     width: 58.33%;
    }
    .col-md-8 {
     width: 66.66%;
    }
    .col-md-9 {
     width: 75%;
    }
    .col-md-10 {
     width: 83.33%;
    }
    .col-md-11 {
     width: 91.66%;
    }
    .col-md-12 {
     width: 100%;
    }
   }
   @media (max-width: 768px){
    .col-sm-1 {
     width: 8.33%;
    }
    .col-sm-2 {
     width: 16.66%;
    }
    .col-sm-3 {
     width: 25%;
    }
    .col-sm-4 {
     width: 33.33%;
    }
    .col-sm-5 {
     width: 41.66%;
    }
    .col-sm-6 {
     width: 50%;
    }
    .col-sm-7 {
     width: 58.33%;
    }
    .col-sm-8 {
     width: 66.66%;
    }
    .col-sm-9 {
     width: 75%;
    }
    .col-sm-10 {
     width: 83.33%;
    }
    .col-sm-11 {
     width: 91.66%;
    }
    .col-sm-12 {
     width: 100%;
    }
   }
